.allCards{
    display:grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 1rem; /* space between the cards */
    padding: 1rem; /* optional: space around the whole grid */
}

.container{
    max-width: 1200px;
    margin: 0 auto; /* center it */
    padding: 0 1rem; /* padding on sides */

}

.gameOverMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
    background-color: rgba(8, 23, 63, 0.9);
    border: 2px solid rgb(91, 91, 228);
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(91, 91, 228, 0.5);
    font-family: 'HarryPotter', sans-serif;
    color: #f2f2f2;
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  

.gameOverMenu button{
    margin: 0.5rem;
}
  
 
  